html, body {
  font-size: 16px;
  background: #111;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
}

.App {
  text-align: center;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  line-height: 1.4;
  margin-bottom: 20px;
}

a {
  color: #FFF;
}

.big {
  font-size: 1.75rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

li span {
  display: block;
  font-size: .8rem;
}

.big:hover {
  color: green;
  border-bottom: 2px solid green;
}

p {
  padding: 20px;
  max-width: 500px;
  margin: 50px auto;
}
