html, body {
  font-size: 16px;
  background: #111;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
}

.App {
  text-align: center;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 2;
}

li a {
  font-size: 1.75rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

li a:hover {
  color: green;
  border-bottom: 2px solid green;
}

p {
  padding: 20px;
  max-width: 500px;
  margin: 50px auto;
}
