html, body {
  font-size: 16px;
  background: #141415;
  color: #fff;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.title {
  letter-spacing: 1.5px;
  font-weight: 900;
  display: inline-block;
  padding: 12px 20px;
  background: #000;
  font-size: 12px;
}

.App {
  text-align: left;
  padding: 30px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  line-height: 1.4;
  margin-bottom: 10px;
}

a {
  color: #FFF;
}

.big {
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

li span {
  display: block;
  font-size: .8rem;
  opacity: .7;
}

.big:hover {
  color: #56b63a;
  border-bottom: 2px solid #56b63a;
}

p {
  max-width: 500px;
  margin: 50px auto;
  line-height: 1.4;
}

h1 {
  margin-top: 50px;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h1, h2 {
  font-weight: 400;
}

.listings {
  padding: 50px 0 0;
  max-width: 850px;
  margin: auto;
  text-align: left;
}

@media(min-width: 768px) {
  .App {
    text-align: center;
    padding: 30px;
  }

  li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 10px;
  }

  .big {
    font-size: 1.75rem;
  }
}
